<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>

<!------------featured products--------------->
<div class="small-container">
    <h2 class="title1"> Featured products</h2>
    <div class="row">
        <div class="col-4">
            <img src="assets/14.jpg">
            <h4> Stripe Pink </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>

        <div class="col-4">
            <img src="assets/13.jpg">
            <h4> Honey Yellow </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>

        <div class="col-4">
            <img src="assets/16.jpg">
            <h4> Stripe Blue </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>

        <div class="col-4">
            <img src="assets/15.jpg">
            <h4> Cloudy White </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>
    </div>

   
    <!------------latest products--------------->

    <h2 class="title1"> Latest products</h2>
    <div class="row">
        <div class="col-4">
            <img src="assets/4.jpg">
            <h4> Bread black </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>

        <div class="col-4">
            <img src="assets/7.jpg">
            <h4> Candy Orange </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>

        <div class="col-4">
            <img src="assets/5.jpg">
            <h4> Leave Green </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>

        <div class="col-4">
            <img src="assets/10.jpg">
            <h4> Smile Mask </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>
        
    </div>

    <div class="row">
        <div class="col-4">
            <img src="assets/17.jpg">
            <h4> Fire black </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>

        <div class="col-4">
            <img src="assets/18.jpg">
            <h4> Empty Black </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>

        <div class="col-4">
            <img src="assets/19.jpg">
            <h4> Colorful </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>

        <div class="col-4">
            <img src="assets/20.jpg">
            <h4> Soft Blue </h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>RM40.00</p>
            <input type="submit" value="Add to Cart" class="btnAddAction" />
        </div>
        
        <div class="row">
            <div class="col-4">
                <img src="assets/21.jpg">
                <h4> Yellow </h4>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>RM40.00</p>
                <input type="submit" value="Add to Cart" class="btnAddAction" />
            </div>
    
            <div class="col-4">
                <img src="assets/25.jpg">
                <h4> Hoodie Black </h4>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>RM40.00</p>
                <input type="submit" value="Add to Cart" class="btnAddAction" />
            </div>
    
            <div class="col-4">
                <img src="assets/23.jpg">
                <h4> Colorful Black</h4>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>RM40.00</p>
                <input type="submit" value="Add to Cart" class="btnAddAction" />
            </div>
    
            <div class="col-4">
                <img src="assets/24.jpg">
                <h4> Sweatshirt Black </h4>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>RM40.00</p>
                <input type="submit" value="Add to Cart" class="btnAddAction" />
            </div>
    </div>

    <div class = "footer">
        <div class="container">
            <div class="row">
                

                <div class="footer-col-1">
                    <img src="assets/h.jpg">
                    <p> Our purpose is to make everyone happy with their fashion.</p>
                </div>

            

                <div class="footer-col-2">
                    <h3>Follow Us!</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        
                    </ul>
                </div>

                <div class="footer-col-3">
                    <h3>Our store located here!</h3>
                    <p>A322, Petaling Jaya, PJU 10/1c,<br> Damansara Damai, 47830 Selangor </p>
                </div>


            </div>

            <h3>--------------------------------------------------------------------------------------------------------------------------------------------------------</h3>
            <p class="copyright"> Copyright 2020 - FAD STORE</p>


                
    
        </div>
    </div>
