<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<div class = "header">
<div class = "row">
    <div class = "col-2">
       <br> <h1> Give your look a new style!</h1>
       <p>Fashion is very important. It is life-enhancing and, like everything that gives pleasure, it is worth doing well</p>
       
    </div>
    <div class = "col-2">
        <img src="assets/shopping.png">
    </div>
</div>
</div>

<!------------featured categories--------------->

<div class = "categories">
    <h2 class="title"> Featured Categories</h2>
    <div class="small-container">
        <div class = "row">
        <div class= "col-3">
            <img src="assets/3.jpg">
            <h4> Male Clothes </h4>
        </div>
        <div class= "col-3">
            <img src="assets/6.jpg">
            <h4> Female Clothes </h4>
        </div>
        <div class= "col-3">
            <img src="assets/8.jpg">
            <h4> Kids </h4>
        </div>
        <div class= "col-3">
            <img src="assets/11.jpg">
            <h4> Printed Mask </h4>
        </div>
        </div>
    </div>
</div>



    <!---------offer----------->
    <div class="offer">
        <div class="small container">
            <div class="row">
                <div class="col-2">
                    <img src="assets/iw.png" class="offer-img">
                </div>
                <div class="col-2">
                    <h4>Exclusive gift from our shop</h4>
                    <h1>Apple Watch Series 6</h1>
                    <h5>The iWatch may be more fashion than function.</h5>
                </div>
            </div>
        </div>
    </div>
    
  <!------foooterr---------->
    <div class = "footer">
        <div class="container">
            <div class="row">
                

                <div class="footer-col-1">
                    <img src="assets/h.jpg">
                    <p> Our purpose is to make everyone happy with their fashion.</p>
                </div>

            

                <div class="footer-col-2">
                    <h3>Follow Us!</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        
                    </ul>
                </div>

                <div class="footer-col-3">
                    <h3>Our store located here!</h3>
                    <p>A322, Petaling Jaya, PJU 10/1c,<br> Damansara Damai, 47830 Selangor </p>
                </div>


            </div>

            <h3>---------------------------------------------------------------------------------------------------------------------------------------------------------------</h3>
            <p class="copyright"> Copyright 2020 - FAD STORE</p>


                
    
        </div>
    </div>




  